@import "tailwindcss";
@source "../public";
@theme {
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
}
.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #00c46a;
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem;
  font-size: 1.5rem;
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #ffb545;
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem;
  font-size: 1.5rem;
}
/* .running-popup-orange .leaflet-popup-content-wrapper {
  border-left: 5px solid #FFB545;
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem;
  font-size: 1.5rem;
} */

.running-popup .leaflet-popup-tip {
  background-color: #2d3439;
}
.cycling-popup .leaflet-popup-tip {
  background-color: #2d3439;
}
.form.hidden_form {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
  background-color: #2d3439;
}
.workout__details {
  display: flex;
  align-items: baseline;
  margin-top: 2px;
}
.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}
.workout__unit {
  font-size: 1.1rem;
  color: #aaa;
  text-transform: uppercase;
  font-weight: 800;
}
.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.workouts {
  scrollbar-width: none;
}
